<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Proyek UAS TPS Valerie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
</head>

<body>
 <div class="container">
	<h1 class="title">Compressing Technique in Action</h1>
    <!-- <a href="/"><p>Refresh</p></a> -->

    <!-- Main Input For Receiving Query to our ML -->
    <h2 class="subtitle">Choose one of the images or upload a new one</h2>
    <div class="gallery" style="padding-bottom: 3rem;">
    {% for image in listdir %}
        <div class="gallery-item">
            <img src="{{ url_for('display_image' ,filename=image) }}" alt="{{ image }}" onclick="changeValue(this.alt)"/>
        </div>
    {% endfor %}
    </div>
    <form method=POST enctype=multipart/form-data action="{{ url_for('home') }}" style="text-align: center;">
        <input type="text" id="filepath" name="filepath" class="input-field">
        <label for="file-upload" class="button margin-custom">
            Choose File
        </label>
        <input id ="file-upload" type = "file" name = "photo"/>
        <label for="quality">Choose Quality :</label>
        <select id="quality" name="quality" class="select-field">
            <option value="best">Best</option>
            <option value="normal">Normal</option>
        </select>
        <input type="submit" class="button">
    </form>

    {% if predictedImage %}
    <div class="result">
        <h2 class="subtitle">Comparison</h2>
        <div class="row" name="ori">
            <div class="table">
                <h2>Original Image</h2>
                <p>Original Size : {{'%0.2f' % filesize|float}} Kb</p>
                <a download="original.png" href="/image/{{predictedImage}}">
                    <button class="button">Download Image</button>
                </a>
            </div>
            <img class="compress-result" src="{{ url_for('display_image' ,filename=predictedImage) }}"/>
        </div>

        <div class="row" name="bmshj">
            <div class="table">
                <h2>CompressAI bmshj2018_hyperprior</h2>
                <p>PSNR : {{'%0.2f' % bmshj.0|float}}</p>
                <p>msssim : {{'%0.2f' % bmshj.1|float}}</p>
                <p>bpp : {{'%0.2f' % bmshj.2|float}}</p>
                <p>Compressed Size : {{'%0.2f' % bmshj.3|float}} Kb</p>
                <h3>Space Saving : {{'%0.2f' % (100 - (bmshj.3/filesize)*100)|float}} %</h3>
                <a download="bmshj.png" href="/pil/mbt/bmshj.png">
                    <button class="button">Download Image</button>
                </a>
            </div>
            <img class="compress-result" src="{{ url_for('serve_pil_image' ,model='bmshj',filename='bmshj.png') }}"/>
        </div>

        <div class="row" name="mbt">
            <div class="table">
                <h2>CompressAI mbt2018</h2>
                <p>PSNR : {{'%0.2f' % mbt.0|float}}</p>
                <p>msssim : {{'%0.2f' % mbt.1|float}}</p>
                <p>bpp : {{'%0.2f' % mbt.2|float}}</p>
                <p>Compressed Size : {{'%0.2f' % mbt.3|float}} Kb</p>
                <h3>Space Saving : {{'%0.2f' % (100 - (mbt.3/filesize)*100)|float}} %</h3>
                <a download="mbt.png" href="/pil/mbt/mbt.png">
                    <button class="button">Download Image</button>
                </a>
            </div>
            <img class="compress-result" src="{{ url_for('serve_pil_image' ,model='mbt',filename='mbt.png') }}"/>
        </div>
    </div>
    {% endif %}
    <div style="text-align: center; padding-top: 3rem;"><h3>Proyek UAS Teknik Penyandian Sumber</h3>
        <p>Theodora Valerie - 18/428635/TK/47137</p></div>
   <br>
   <br>
</div>
<script>
    function changeValue(alt) {
    var inputform = document.getElementById("filepath");
    inputform.value = alt;
    }
</script>
</body>
</html>