
html { 
    width: 100%; 
    height:100%; 
    font-family: 'Apercu', Georgia, 'Times New Roman', Times, serif;
}

.title{
    text-align: center;
    font-size: 2.5rem;
}
.subtitle{
    text-align: center;
    margin-top: 2rem;
    margin-bottom : 1rem;
}
.container{
    padding: 4rem 6rem;
}

.gallery{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}
.gallery-item{
    padding: 0 1rem 0 0;
}
.gallery-item img{
    width: 100%;
    cursor: pointer;
    /* width: 200px; */
    /* height: 150px; */
}

.comparison-img{
    width: 45%;
    height: auto;
}

.compress-result{
    width:50%;
}

.result{
    margin: 5rem 1rem;
}

.table{
    width: 50%;
}

.row{
    display:flex;
    align-items: center;
    padding: 1rem 12rem;
}

.button {
    border: none;
	padding: 5px 10px 5px 10px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    font-family: 'Apercu', Georgia, 'Times New Roman', Times, serif !important;
}

input.input-field, 
.select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}

input[type=submit],
input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
input[type=submit]:hover,
input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    margin-left: -15.4rem;
    margin-top: 0.5rem;
}

.margin-custom {
    margin-right:10rem;
}